__pycache__/
.DS_Store
*~
*.dat
*.gif
*.png
vids
lorenz
results
*.egg-info
checkpoint
*.data*
*.index
venv
dragonfly/doc/*.aux
dragonfly/doc/*.out
dragonfly/doc/*.auxlock
dragonfly/doc/*.log
dragonfly/doc/*.pdf
dragonfly/doc/*.gz
dragonfly/doc/*.toc
dragonfly/doc/ext/*.dep
dragonfly/doc/ext/*.dpth
dragonfly/doc/ext/*.md5
dragonfly/doc/ext/*.log
dragonfly/doc/ext/*.pdf
dragonfly/doc/*/*.log
dragonfly/doc/layout/frontpage/*.aux
dragonfly/doc/layout/frontpage/*.log
dragonfly/doc/layout/frontpage/*.pdf
dragonfly/doc/layout/frontpage/*.gz
dragonfly/doc/*.bbl
dragonfly/doc/*.blg
dragonfly/doc/dev/_minted-dev_doc
dragonfly/doc/_minted-doc