absl-py==1.1.0
astunparse==1.6.3
atari-py==0.2.9
attrs==21.2.0
Box2D==2.3.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.28
decorator==5.0.7
fasteners==0.17.3
flatbuffers==1.12
future==0.18.2
gast==0.3.3
glfw==2.5.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.60.1
gym==0.26.2
gym-notices==0.0.7
h5py==3.10.0
idna==2.10
imageio==2.19.3
importlib-metadata==4.11.4
iniconfig==1.1.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==14.0.1
Markdown==3.3.4
matplotlib==3.9.0
mpi4py==3.1.6
mujoco==2.3.3
numpy==1.26.4
opt-einsum==3.3.0
packaging==21.0
Pillow==10.2.0
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.6
pyparsing==3.1.1
pytest==6.2.4 
py==1.11.0
requests==2.25.1
rsa==4.9
scipy==1.14.0
six==1.16.0
tensorboard==2.9.0
typing_extensions==4.9.0
Werkzeug==3.0.1
wrapt==1.14.1
torch==2.4.1